{
  "prettier.singleQuote": true,
  "prettier.jsxSingleQuote": true,
  "prettier.arrowParens": "avoid",
  "prettier.bracketSpacing": true,
  "prettier.htmlWhitespaceSensitivity": "css",
  "prettier.insertPragma": false,
  "prettier.bracketSameLine": true,
  "prettier.printWidth": 80,
  "prettier.proseWrap": "always",
  "prettier.quoteProps": "as-needed",
  "prettier.requirePragma": false,
  "prettier.semi": true,
  "prettier.tabWidth": 2,
  "prettier.trailingComma": "all",
  "prettier.useTabs": false
}
