* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #f8f8f8;
    padding: 20px;
}

.header-content {
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
    height: auto;
}

.header-text h1 {
    font-size: 2rem;
    margin-left: 10px;
}

.header-text p {
    font-size: 1rem;
    margin-left: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding: 10px 0;
    background-color: #ccc;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
}

main {
    display: flex;
    flex-grow: 1;
    padding: 20px;
    flex-wrap: wrap;
}

.left-column {
    flex: 1 1 30%;
    padding: 20px;
    text-align: center;
}

.headshot {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.right-column {
    flex: 1 1 70%;
    padding: 20px;
}

.right-column section {
    margin-bottom: 20px;
}

.education-logo {
    width: 100px;
    height: auto;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f8f8f8;
}

@media (max-width: 1200px) {
    .header-content h1 {
        font-size: 1.5rem;
    }

    .header-text p {
        font-size: 0.9rem;
    }
}

@media (max-width: 900px) {
    .right-column, .left-column {
        flex: 1 1 100%;
    }
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .header-content {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
    }

    main {
        flex-direction: column;
    }

    .headshot {
        width: 80%;
    }

    footer {
        padding: 10px;
    }
}
